html {
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

body {
    background-color: #dadada;
    margin: 0;
}

.header-nav {
    ul {
        list-style-type: none;
        margin: 0;
        padding: 0;

        li a {
            color: white;
            text-decoration: none;
        }
    }
    
    &__main {
        display: flex;
        justify-content: space-between;
        background-color: #046c9e;

        ul {
            display: flex;
            justify-content: start;
            gap: 20px;
    
            li a {
                padding: 5px 10px;
                display: flex;
                align-items: center;
                gap: 5px;
                border: 2px solid transparent;
                transition: .3s;
            }
        }
    }

    &__full {
        display: none;
        background-color: #046c9e;
        padding: 8px;

        button {
            width: 100%;
            background: transparent;
            color: white;
            border: 1px solid black;
            margin-bottom: 8px;
        }
    }

    .nav-block {
        &-wrapper {
            display: flex;
            justify-content: space-between;
            gap: 8px;
        }

        &__item {
            border: 1px solid black;

            h3 {
                margin: 0;
                
                a {
                    color: white;
                    text-decoration: none;
                }
            }
        }

        width: 100%;
        display: flex;
        flex-direction: column;
        gap: 8px;
    }

    &.open &__full {
        display: block;
    }

    &.open &__main {
        display: none;
    }

    
}

.header-promo {
    background-color: white;
    margin: 5px 0;
}

.header-nav ul li a:hover {
    color: green;
    background-color: #024564;
    border: 2px solid white;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
}